# Configuração para RENDER (QA)
NODE_ENV=development
PORT=3001

# Database - RENDER
DATABASE_URL="postgresql://username:password@host:port/database?schema=public"

# JWT
JWT_SECRET="your-super-secret-jwt-key-here"
JWT_EXPIRES_IN="7d"

# Google OAuth Configuration
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CALLBACK_URL=http://localhost:3001/api/v1/auth/google/callback

# Frontend URLs
FRONTEND_URL=http://localhost:3000

# RabbitMQ (Mensageria)
RABBITMQ_URL=amqp://localhost:5672

# CORS
CORS_ORIGIN="http://localhost:3000,http://localhost:19006,http://172.20.0.1:3000,http://172.20.0.1:19006,http://127.0.0.1:3000,http://127.0.0.1:19006,http://192.168.1.111:3000,http://192.168.1.111:19006,http://192.168.1.111:8081"

WEBSOCKET_CORS_ORIGIN="http://localhost:3000,http://localhost:19006,http://172.20.0.1:3000,http://172.20.0.1:19006,http://127.0.0.1:3000,http://127.0.0.1:19006,http://192.168.1.111:3000,http://192.168.1.111:19006,http://192.168.1.111:8081"

# Logs
LOG_LEVEL=debug,log,warn,error

# Rate Limiting
THROTTLE_TTL=60
THROTTLE_LIMIT=1000

# Helmet
HELMET_CONTENT_SECURITY_POLICY=false
HELMET_HSTS_MAX_AGE=0
